@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --main-line-color: hsl(234, 62%, 86%);
  --side-line-color: hsl(350, 100%, 91%);
  --paper-color: hsl(0, 15%, 95%);
  --ink-color: hsl(0, 0%, 12%);
  --line-thickness: 3px;
  --top-space: 4lh;
  --font-title: "Momo Signature", cursive;
  --font-list: "Edu SA Hand", cursive;
  --font-btn: "Open Sans", sans-serif;
}
.task-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.task-form .left {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.task-form .left .form-input {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}
.task-form .left input {
  border: none;
  border-bottom-style: dashed;
  background: transparent;
  padding: 5px 15px;
  font-family: var(--font-list);
}

.task-form .left input:focus-visible {
  outline: none;
}
.task-form .right {
  display: flex;
  gap: 12px;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.date {
  display: inline-flex;
  align-items: baseline;
  gap: 0; /* araya boşluk koyma */
  font-family: var(--font-title);
}

/* 28 ve 01'in sonuna nokta ekle */
#day::after,
#month::after {
  content: ".";
}

/* tek haneleri de düzgün hizalamak istersen */
#day,
#month,
#year {
  display: inline-block;
}

.add-btn--tab {
  appearance: none;
  border: 2px solid #2f2f2f;
  background: #fffdf9;
  color: #2f2f2f;

  padding: 8px 16px 8px 14px;
  border-radius: 12px 12px 12px 12px;

  font-family: var(--font-btn);
  font-variation-settings: "wdth" 100;

  font-size: 18px;

  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease;
}

.delete-btn--tab {
  appearance: none;
  border: 2px solid #2f2f2f;
  background: #fffdf9;
  color: #2f2f2f;

  padding: 4px 7px 4px 7px;
  border-radius: 12px 12px 12px 12px;

  font-family: var(--font-btn);
  font-variation-settings: "wdth" 100;

  font-size: 14px;

  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease;
}

.add-btn--tab:hover {
  transform: translateY(-1px);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.22);
}
.add-btn--tab:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.28);
}
.add-btn--tab:focus-visible {
  outline: 3px solid rgba(214, 73, 73, 0.35);
  outline-offset: 3px;
}

.paper {
  background: var(--paper-color);
  margin: 1rem;
  padding: calc(var(--top-space) - 2.6lh) 3rem 1rem 5.5rem;
  font-family: system-ui;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--ink-color);
  background-image: 
    /* the red line */
    linear-gradient(
      90deg,
      transparent,
      transparent 4rem,
      var(--side-line-color) 4rem,
      var(--side-line-color) 4.25rem,
      transparent 4.25rem
    ),
    /*  The top space  */
    linear-gradient(
        var(--paper-color),
        var(--paper-color) var(--top-space),
        transparent var(--top-space)
      ),
    /* the blue lines */
    repeating-linear-gradient(
        transparent,
        transparent calc(1lh - var(--line-thickness)),
        var(--main-line-color) calc(1lh - var(--line-thickness)),
        var(--main-line-color) 1lh,
        transparent 1lh
      );
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
}

.paper .task-form label {
  font-family: var(--font-title);
}

.paper .title {
  color: rgb(214, 70, 70) !important;
  font-family: var(--font-title);
}

.paper .todo-list {
  list-style-type: none;
  font-family: var(--font-list);
  margin-top: -5px;
}
@media (max-width: 530px) {
  .paper {
    padding: calc(var(--top-space) - 1.5lh) 3rem 1rem 5.5rem;
  }
  .paper .todo-list {
    padding: 10px;
  }
  .paper .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) {
  .add-btn--tab {
    padding: 4px 8px 4px 7px;
    font-size: 14px;
  }
  .task-form label {
    font-size: 1rem;
  }
  .date {
    font-size: 1rem;
  }
  .paper {
    padding: calc(var(--top-space) - 1.5lh) 3rem 1rem 5.5rem;
  }
  .paper .todo-list {
    padding: 20px;
  }
  .paper .title {
    font-size: 1.7rem;
  }
}

.cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: green;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.cbx span:last-child {
  margin-left: 8px;
}
.cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.cbx:hover span:first-child {
  border-color: green;
}

.inp-cbx:checked + .cbx span:first-child {
  border-color: green;
  background: transparent;
  animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.inp-cbx:checked + .cbx span:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
.inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

.todo-item.completed .cbx span:last-child {
  color: green;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}
